# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
build/
dist/

# Environment
.env

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
.directory

# Personal notes
projektplan.txt

# Logs
logs/
